.filterBtn {
  background-color: var(--blue-light-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  animation: pulse-animation 2s ease-in-out infinite;

  @media (min-width: 768px) {
    border-radius: 40px;
    width: 152px;
    background-color: var(--white-color);
    border: 2px solid var(--blue-color);
    color: var(--blue-color);
  }
  &:hover,
  &:focus {
    scale: 1.05;
  }
}

@keyframes pulse-animation {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(136, 198, 253, 0.4);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(136, 198, 253, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(136, 198, 253, 0.4);
  }
}

.filterBtnOpen {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../../images/icons/filterBg.svg);

  @media (min-width: 768px) {
    color: var(--white-color);
    border-radius: 40px;
    width: 152px;
    background: var(
      --gr-blue,
      linear-gradient(315deg, #419ef1 0%, #9bd0ff 100%)
    );
  }
}

.filterBtnText {
  color: inherit;
  display: none;
  @media (min-width: 768px) {
    display: block;
    font-family: "Manrope";
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.64px;
    color: inherit;
  }
}

.filterMenu {
  background-color: var(--white-color);
  padding: 8px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 152px;
  height: auto;
  position: absolute;
  z-index: 900;
  @media (max-width: 768px) {
      left: 169px;     
    }
}



.filtersTitle {
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.64px;
  color: var(--blue-color);
}

.filterSubmenuBtn {
  display: flex;
  padding: 4px 8px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  background-color: var(--blue-light-color);
  color: var(--blue-color);
  border: none;
  border-radius: 20px;
}

.filterSubmenu {
  display: flex;
  width: 136px;
  padding: 14px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  gap: 10px;
  background-color: var(--blue-light-color);
  margin-top: -34px;
  color: var(--blue-color);
}

/* CSS для кастомних чекбоксів */
.checkbox {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-family: "Inter";
  font-size: 12px;
  line-height: 130%;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: -3px;
  left: 0;
}

.checkbox input:checked ~ .checkmark {
  background-image: url(../../../images//icons/check-round.svg);
}

/* .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
} */
