.scrollButton {
  position: fixed;
  bottom: 8%;
  right: 6%;
  background-color: #f1c40f;
  color: #fff;
  z-index: 4;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;

  @media (min-width: 768px) {
    bottom: 10%;
    right: 3%;
  }

  @media (min-width: 1280px) {
    bottom: 10%;
    right: 35px;
  }
}

.scrollButton:hover {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .scrollButton {
    width: 50px;
    height: 50px;
  }
}
