.petsDataContainer {
  position: relative;
  margin-top: 31px;

  @media screen and (min-width: 768px) {
    margin-top: 22px;
  }
}

.addBtn {
  position: absolute;
  right: 0px;
  top: 70px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 4px;

  width: 80px;
  height: 80px;
  border-radius: 50px;

  border: transparent;
  background-color: #54adff;

  color: rgba(255, 255, 255, 1);

  font-weight: 600;
  font-size: 12px;
  line-height: 1.36;

  z-index: 4;

  transition: transform background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: 129px;
    height: 40px;
    border-radius: 40px;
    flex-direction: row-reverse;
    gap: 8px;
    right: 0px;
    top: -62px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.37;
  }
}

.addBtn:hover,
.addBtn:focus {
  background: linear-gradient(
    to right,
    rgba(155, 208, 255, 1),
    rgba(65, 158, 241, 1)
  );
}

.addBtn img {
  width: 11px;
  height: 11px;
}
