.pagination {
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
}

@media screen and (min-width: 768px) {
  .pagination {
    margin-top: 70px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .pagination {
    margin-top: 80px;
    margin-bottom: 60px;
  }
}
