.pagination {
  margin-top: 40px;
  margin-bottom: 117px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
}

@media screen and (min-width: 768px) {
  .pagination {
    margin-top: 60px;
    margin-bottom: 126px;
  }
}

@media screen and (min-width: 1280px) {
  .pagination {
    margin-top: 68px;
    margin-bottom: 452px;
  }
}
