.title {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
  min-width: 280px;
  max-width: 280px;

  @media screen and (min-width: 768px) {
    font-size: 68px;
    line-height: 100px;
    text-align: left;
    min-width: 588px;
    max-width: 588px;
  }

  @media screen and (min-width: 1280px) {
    font-weight: 800;
    line-height: 130%;
    min-width: 501px;
    max-width: 501px;
    margin-left: 16px;
  }
}

.background {
  padding-top: 80px;
  background-position: center;
  background-repeat: no-repeat;
  width: calc(100% + 40px);
  height: 100vh;
  margin-left: -20px;
  margin-right: -20px;

  background-image: url(../../images/bg-mobile.png);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../../images/bg-mobile@2x.png);
  }

  @media screen and (min-width: 768px) {
    width: calc(100% + 40px);
    height: 100vh;
    margin-left: -20px;
    margin-right: -20px;
    background-image: url(../../images/bg-tablet.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../../images/bg-tablet@2x.png);
    }
  }
  @media screen and (min-width: 1280px) {
    padding-top: 188px;
    width: calc(100% + 40px);
    height: 100vh;
    margin-left: -16px;
    margin-right: -16px;
    background-image: url(../../images/bg-desktop.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../../images/bg-desktop@2x.png);
    }
  }
}
