.wrapper {
  margin-right: auto;
  margin-left: auto;
}

.formContainer {
  position: relative;
  width: 280px;
  height: 517px;
  gap: 15px;
  padding: 20px 8px 25px 8px;
  background-color: var(--white-color);
  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
  border-radius: 20px;

  @media screen and (min-width: 768px) {
    width: 704px;
    height: 268px;
    border-radius: 40px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 20px;
  }
  @media screen and (min-width: 1280px) {
    width: 395px;
    height: 520px;
    flex-direction: column;
  }
}

.formWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media screen and (min-width: 768px) {
    width: 355px;
    gap: 10px;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #111111;
  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}

.inputContainer {
  position: relative;
}

.input {
  padding: 6px 6px 6px 12px;
  min-width: 190px;
  height: 24px;
  border: 1px solid var(--blue-color);
  border-radius: 20px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #111111;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    width: 255px;
    height: 30px;
    font-size: 16px;
  }
}

.buttonClose {
  position: absolute;
  top: 14px;
  right: 14px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: inline;
  outline: none;
}

.icon {
  color: #54adff;
  transition: color 0.3s ease;
}

.icon:hover {
  color: #ffc107;
}

.btnSave {
  background: var(--blue-color);
  width: 248px;
  height: 34px;
  border-radius: 40px;

  cursor: pointer;
  padding: 0;
  color: #fef9f9;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.64px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: none;

  @media screen and (max-width: 767px) {
    margin: auto;
    margin-top: 9px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 0;
    width: 255px;
    height: 32px;
    padding: 5px;
    margin-left: auto;
  }
}

.btnSave:hover {
  background-color: #ffc107;
  color: #fff;
}
