.avatarWrapper {
  width: 182px;
  height: 182px;
  margin: auto;
  border-radius: 40px;
  margin-bottom: 59px;
}

.avatar {
  background-image: url("../../../images/default_avatar.png");
  background-size: cover;
  background-position: center;
  height: 100%;
}

.wrapperFile {
  margin-top: 14px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

.avatarLabel {
  width: fit-content;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  cursor: pointer;
}

.avatarBtn {
  display: none;
}
