.logoutBtnMob {
  margin-top: 159px;
  align-self: start;
  margin-left: 20px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.logoutBtnMain {
  width: 135px;
  height: 40px;
  border-radius: 40px;
  background-color: var(--blue-color);
  color: var(--bg-color);
  padding: 8px 20px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.64px;
  &:hover,
  &:focus {
    background: linear-gradient(290.46deg, #419ef1 0%, #9bd0ff 107.89%);
    box-shadow: 7px 13px 14px 0px rgba(116, 177, 232, 0.24);
  }
}

.logoutBtnTab {
  @media screen and (min-width: 320px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.logoutBtnDesc {
  @media screen and (min-width: 320px) {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    display: block;
  }
}

.toggleBurgerBtn {
  background-color: transparent;
  border: none;
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.userInfoMobile {
  @media screen and (min-width: 320px) {
    display: flex;
    gap: 12px;
    color: var(--yellow-color);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.64px;
    margin-bottom: 84px;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.userInfoWideScreen {
  @media screen and (min-width: 320px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 12px;
    color: --yellow-color;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.64px;
  }
} 


.burgerMenu {
 {
  @media screen and (min-width: 320px) {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 20;
    left: 0;
    background-color: var(--bg-color);
    z-index: 999;
    left: 0;
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.navBox {
  display: flex;
  gap: 22px;
  align-items: center;
  @media screen and (min-width: 1280px) {
    gap: 40px;
  }
}

.noScroll {
  overflow: hidden;
}
