.container {
  margin: 40px auto;

  @media screen and (min-width: 768px) {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 62px;
    margin-bottom: 57px;
  }
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.37;

  @media screen and (min-width: 768px) {
    font-size: 28px;
  }
}

.petsContainer {
  @media screen and (max-width: 1279px) {
    margin-top: 46px;
  }
  @media screen and (min-width: 1279px) {
    min-width: 821px;
  }
}

.userContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
