.petsContainer {
  position: relative;
  margin: auto;
  width: 280px;
  padding: 16px 20px;
  border-radius: 20px;

  background-color: white;
  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.2);

  @media screen and (min-width: 768px) {
    width: 703px;
    min-height: 256px;
    padding: 20px 20px;
    display: flex;
    gap: 20px;

    border-radius: 40px;
  }

  @media screen and (min-width: 1280px) {
    width: 821px;
    min-height: 212px;

    display: flex;
    gap: 32px;

    border-radius: 40px;
  }
}

.imgWrapper {
  width: 240px;
  height: 240px;

  border-radius: 20px;

  background-color: grey;

  @media screen and (min-width: 768px) {
    width: 128px;
    height: 128px;
  }

  @media screen and (min-width: 1280px) {
    width: 161px;
    height: 161px;
  }
}

.textContainer {
  width: 240px;
  margin-top: 20px;

  @media screen and (min-width: 768px) {
    margin-top: 0;
    width: 515px;
  }

  @media screen and (min-width: 1280px) {
    width: 580px;
  }
}

.deleteBtn {
  width: 24px;
  height: 24px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  right: 16px;
  background-color: transparent;
  border: none;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media screen and (min-width: 768px) {
    gap: 16px;
  }
}

.item {
  width: 240px;
  display: flex;
  gap: 5px;
}

.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.37;

  @media screen and (min-width: 768px) {
    font-weight: 600;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

.textData {
  font-size: 14px;
  line-height: 1.37;

  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}
