/* .list {
    margin-left: auto;
    margin-right: auto;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    gap: 24px 32px;
    margin-bottom: 68px;
}

.list-item {
    flex: 0 0 calc(25% - 63px);
    max-width: calc(25% - 63px);
    margin: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 16px;
    text-align: center;
} */

.noticesListContainer {
    margin: 0 auto;
}

.noticeList {
    margin-top: 24px;
    margin-bottom: 36px;
}

@media screen and (max-width: 767px) {
    .noticesListContainer {
        max-width: 480px;
    }
}

@media screen and (min-width: 768px) {
    .noticesListContainer {
        width: 704px;
        margin-top: 40px;
    }

    .noticeList {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        justify-content: center;
    }
}

@media screen and (min-width: 1280px) {
    .noticesListContainer {
        width: 1248px;
        margin-top: 42px;
    }

    .noticeList {
        gap: 32px;
    }
}