.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 20px;

  @media screen and (min-width: 768px) {
    padding-top: 32px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 20px;
  }
}

.shouldShowNav {
  display: none;
  @media screen and (min-width: 1280px) {
    display: block;
  }
}
